<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hr.ferit.srdandragas.kunst">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".KunstApp"
        android:allowBackup="true"
        android:icon="@drawable/kust_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.profile.ChangePassword"></activity>
        <activity android:name=".ui.webView.ArtWebView" />
        <activity android:name=".ui.home.StartPage" />
        <activity android:name=".ui.authentication.RegisterActivity" />
        <activity android:name=".ui.authentication.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>